<table class="table table-bordered table-striped">   
        <tr>   
          <th>id</th>   
          <th>Name</th>   
          <th>Status</th>   
          <th>cost</th>  
          
          <th>amount paid</th> 

          <th>amount due</th>
          <th>amount paid</th>
          <th>maintainance_cost </th>
          <th>Total_cost</th>
          
        </tr>   
        
         
              
              <td><%= @services.service_name %></td>   
              <td><%= @services.service_status %></td> 
              
              <td><%= @services.service_cost %></td> 
              <td><%= @services.service_startdate %></td> 

              <td><%= @services.service_enddate %></td> 
              <td><%= @services.amount_paid %></td> 

              <td><%= @services.amount_due %></td> 
              <td><%= @services.maintainance_cost %></td> 
              <td><%= @services.Total_cost %></td> 
              
                
         
      